

main
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    height: 100%
    
.left-bar
    height: 100%
    width: 90px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    background-color: $bg-color
    border-right: 2px solid $bg-color-light-1

    .top
        margin-top: 2rem
        display: flex
        align-items: center
        justify-content: center

        img
            width: 35px
            height: 35px

    .middle
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        font-size: 1.5rem
        justify-content: center
        margin-top: 3rem

        li
            color: $bg-color-light-2
            list-style-type: none
            cursor: pointer

            &:hover
                color: $fg-color
        

.right-view
    height: calc(100% - 75px)
    width: 100%
    position: relative

.split-pane
    flex-grow: 1
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    width: 100%
    height: 100%

    .threejs-view
        flex-basis: 0.5
        background-color: $bg-color
        width: 50%
        height: 100%
        cursor: all-scroll