

main
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    height: 100%
    width: 100%
    overflow: hidden

.left-bar
    display: flex

    .right-side
        background-color: $bg-color-dark-1
        // border-left: 2px solid $bg-color-light-1
        h1
            margin: 0

.left-bar .left-side
    height: 100%
    width: 90px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    background-color: $bg-color

    .top
        margin-top: 2rem
        display: flex
        align-items: center
        justify-content: center

        img
            width: 35px
            height: 35px

    .middle
        display: flex
        flex-direction: row
        flex-wrap: nowrap
        font-size: 1.5rem
        justify-content: center
        margin-top: 3rem

        li
            color: $bg-color-light-2
            list-style-type: none
            cursor: pointer

            &:hover
                color: $fg-color
        

.right-view
    height: calc(100% - 75px)
    width: 100%
    position: relative

.split-pane
    flex-grow: 1
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    width: 100%
    height: 100%

    .threejs-view
        flex-basis: 0.5
        background-color: $bg-color
        width: 50%
        height: 100%
        cursor: all-scroll
        position: relative

        &.loading
            &::before
                content: " "
                width: 100%
                height: 100%
                background-color: rgba($bg-color, 0.9)
                position: absolute

            &::after
                content: " "
                width: 50px
                height: 50px
                border: 4px solid transparent
                border-radius: 50%
                border-top-color: $fg-color
                animation: load-spin 0.5s linear infinite
                position: absolute
                left: 50%
                top: 50%
                transform: translate(-50%, -50%)

            @keyframes load-spin
                0%
                    transform: translate(-50%, -50%) rotate(0deg)
                
                99%
                    transform: translate(-50%, -50%) rotate(360deg)