@import 'common/normalize'
@import 'common/palette'
@import 'common/fonts'

//Editor
@import 'code-editor/editor'
@import 'code-editor/tabs'

//Other components
@import 'status-box/status-box'
@import 'binary-toggle/toggle'

//Header
@import 'split-pane'
@import 'header'

//UI
@import 'ui/menu-popout'


body
    background-color: $bg-color
    color: $fg-color
    font-family: $font-main

