

.ui-modal
    position: absolute
    z-index: 99999
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba($fg-color, 0.5)
    display: flex
    align-items: center
    justify-content: center

    .body
        border-radius: 1.5rem
        position: relative
        background-color: $bg-color
        min-width: 33%
        padding: 3rem

        h1
            margin: 0
            font-family: $font-alt
            padding: 0

        .top-bar
            position: absolute
            right: 3rem

            svg
                cursor: pointer
                transition: 0.2s

            svg:hover
                color: $accent-color-selected